
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow">
        <div class="d-flex flex-grow-1 align-items-center justify-content-between">

            <div class="d-flex justify-content-center">
                <img class="me-1" src="@Url.Content("~/eagle.png")" alt="Орел">
                <div style="font-size: 30px;font-family: 'Montserrat'">Poker Planning </div>
            </div>
         
        </div>
    </nav>
</header>


<div class="d-flex flex-grow-1 justify-content-center align-items-center">

    <form action="/Group/CreateGroup" method="post" onsubmit="return validate()"  class="d-flex flex-column form--input mb-5">

        <div class="text-center p-2 mb-3" style="font-size: 34px;font-family: 'Montserrat'">Poker Planning для гибких команд разработчиков</div>
        <label class="mb-0 ms-0 m-2 p-2">Назовите комнату</label>
        <input type="text" class="mt-0 m-2 p-2 ps-4 pe-4" name="name" placeholder="Имя команты" id="groupId"/>

        <label class="m-2">Тип карточек</label>

        <div class="m-2 d-flex flex-row justify-content-center">

            <input type="radio" class="m-2" name="CardSet" checked value="0"/>
            <label>T-Shirt</label>
            <input type="radio" class="m-2" name="CardSet" value="1"/>
            <label>Фибоначи</label>
            <input type="radio" class="m-2" name="CardSet" value="2"/>
            <label>Последовательность</label>

        </div>

        <button class="btn--blue m-2 p-2 radius-3" id="btn">Создать</button>
    </form>

</div>

<script>
        function validate()  {

        let field = document.getElementById("groupId");

        if (field.value.trim()  == "") {
            alert("Название комнаты не может быть пустым или содержать только пробелы");
            return false;
        }
        return true
    }
</script>


