@{
    ViewData["Title"] = "Create Group";
}

<form method="post">
    <input type="text" placeholder="Группа" id="groupId"/>
    <button type="submit">Создать</button>
</form>



<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    
</script>
