@{
    ViewData["Title"] = "Create Group";
}


<div class="d-flex h-100 justify-content-center align-items-center">

    <form class="d-flex flex-column form--input" method="post">
        <div class="text-center" style="font-size: 34px;">Poker Planning для гибких команд разработчиков</div>
        <label class="mb-0 ms-0 m-2 p-2">Название Комнаты</label>
        <input type="text" class="mt-0 m-2 p-2 ps-4 pe-4" name="name" placeholder="Имя команты" id="groupId"/>
        <button class="btn--blue m-2 p-2 radius-3" type="submit">Создать</button>
    </form>

</div>


