@model GroupVm
@{
    ViewData["Title"] = "Группа";
}
@{
    string guidValue = Model.Id.ToString();
}
<div class="d-flex flex-column m-2 justefy-content-center text-center">
    <label>Пользователь</label>
    <div>Администратор</div>
    <div class="p-2">
        @Model.Name
    </div>
    <div class="border border-2 radius-3 p-3 m-2">
        @Model.Link
    </div>
    <button id="stopBtn">Завершить голосование</button>
</div>


<div id="chatroom"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>

    let groupId = '@Html.Raw(guidValue)';

    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("http://localhost:5010/user")
        .build();
    
    hubConnection.on("FinishVoting", function(usersVote) {
        let messageElement = document.createElement("p");
        console.log(usersVote)
        for(let i = 0; i < usersVote.length; i++) {
            console.log(usersVote[i])
            let messageElement = document.createElement("p");
            messageElement.textContent = usersVote[i].name + " Vote " +  usersVote[i].value ;
            document.getElementById("chatroom").appendChild(messageElement);
        }
     
    });

     hubConnection.on("UserAdded", function(username) {
        let messageElement = document.createElement("p");
        messageElement.textContent = "Added " +  username ;
        document.getElementById("chatroom").appendChild(messageElement);
    });

    document.getElementById("stopBtn").addEventListener("click", function () {
        
        hubConnection.invoke("FinishVoting", groupId)
            .catch(function (err) {
                return console.error(err.toString());
            });
    });

    hubConnection.start()
        .then(function () {
            hubConnection.invoke("CreateGroup", groupId)
            .catch(function (err) {
                return console.error(err.toString());
            });
        })
        .catch(function (err) {
            return console.error(err.toString());
        });
    
</script>
