@model GroupVm
@{
    ViewData["Title"] = "Группа";
}
@{
    string guidValue = Model.Name.ToString();
}
<div>
     <button type="button" class="btn--blue" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Пригласить
    </button>

    <label>Пользователь</label>
    <p id="CurrentName"></p>

    <input id="numId" type="number" placeholder="Выбрать значение"/>
    <button  type="button" id="sendBtn" >Проголосовать</button>

</div>

<div id="chatroom"></div>

<div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ссылка</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="d-flex flex-column modal-body">

                <div id="linkToCopy" class="p-1 m-2 addLink--container">
                    @Model.Link
                </div>

                <button type="button" data-clipboard-target="#linkToCopy" id="copyBtn" class="m-2 flex-grow-1 btn--blue">Копировать</button>

            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script>
    let groupId = "@Html.Raw(guidValue)";
    let currentUsername = ""

    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("http://localhost:5010/user")
        .build();

    document.getElementById("sendBtn").addEventListener("click", function () {
        let number = document.getElementById("numId").value

        console.log(groupId + " " + currentUsername + " " + number)
        
        hubConnection.invoke("SetVote", {"Value" : number, "GroupId" : groupId, "Username" : currentUsername})
            .catch(function (err) {
                return console.error(err.toString());
            });
    });

    hubConnection.on("FinishVoting", function(usersVote) {
        let messageElement = document.createElement("p");
        for(item in usersVote) {
            let messageElement = document.createElement("p");
            messageElement.textContent = item.Name + " Vote " +  item.Value ;
            document.getElementById("chatroom").appendChild(messageElement);
        }
     
    });

    hubConnection.on("UserAdded", function(username) {
        if(currentUsername === "") {
            currentUsername = username
            document.getElementById("CurrentName").textContent = currentUsername ;

        }
        let messageElement = document.createElement("p");
        messageElement.textContent = "Added " +  username ;
        document.getElementById("chatroom").appendChild(messageElement);
    });

    hubConnection.start()
        .then(function () {
            hubConnection.invoke("JoinGroupFromLink", groupId)
            .catch(function (err) {
                return console.error(err.toString());
            });
        })
        .catch(function (err) {
            return console.error(err.toString());
        });

    var clipboard = new ClipboardJS('#copyBtn');

    clipboard.on('success', function(e) {
        e.clearSelection();
         var copyBtn = document.getElementById("copyBtn");
        copyBtn.classList.add("btn--blue--clicked")
        copyBtn.textContent = "Скопированно"
    });
    
</script>
