@model GroupVm
@{
    ViewData["Title"] = "Группа";
}
@{
    string guidValue = Model.Id.ToString();
}
<div class="d-flex flex-column m-2 justefy-content-center text-center">
    <div class="p-2">
        @Model.Name
    </div>
    <div class="border border-2 radius-3 p-3 m-2">
        @Model.Link
    </div>
</div>


<div id="chatroom"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>

    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("http://localhost:5010/user")
        .build();
    
    hubConnection.on("UserAdded", function(username) {
        let messageElement = document.createElement("p");
        messageElement.textContent = "Added " +  username ;
        document.getElementById("chatroom").appendChild(messageElement);
    });

    hubConnection.start()
        .then(function () {
            let groupId = '@Html.Raw(guidValue)';

            hubConnection.invoke("CreateGroup", groupId)
            .catch(function (err) {
                return console.error(err.toString());
            });
        })
        .catch(function (err) {
            return console.error(err.toString());
        });
    
</script>
