@model GroupModel
@{
    ViewData["Title"] = "Группа";
}
@{
    string guidValue = Model.Id.ToString();
}

@await Html.PartialAsync("Header", Model.Name)


<div class="d-flex flex-column m-2 flex-grow-1 justefy-content-center text-center">

    <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">

        <div class="d-flex justify-content-center">
            <div class="card--container">
                <div class="card cirle--margin"></div>
            </div>
            <div class="card--container">
                <div class="card cirle--margin"></div>
            </div>        
        </div>

        <div class="d-flex align-items-center ">

            <div class="flex-grow-1 d-flex justify-content-end d-flex flex-column card--container">
                <div class="card me-1"></div>
            </div>

            <div style=" position: relative; display: inline-block;">
                <div class="table">
                    <img style=" filter: brightness(-100%);" src="@Url.Content("~/sunny.png")" alt="Солнце">
                </div>
                <div class="m-3 relative">
                    <button class="btn--blue table--button " id="stopBtn">Завершить голосование</button>
                    <div id="average" class="d-none table--button cifra-average"></div>
                    <button class="btn--orange d-none table--bottom " id="againVotingBtn">Голосовать снова</button>
                    <button class="btn--blue d-none table--bottom " id="newVotingBtn">Начать новое голосование</button>
                </div>
            </div>

            <div class="flex-grow-1 card--container">
                <div class="card ms-1"></div>
            </div>

        </div>

        <div class="d-flex justify-content-center">
            <div class="card--container">
                <div class="card cirle--margin"></div>
            </div>       
            <div class="card--container">
                <div class="card cirle--margin"></div>
            </div>       
        </div>

    </div>

    <div class="mt-4 d-flex justify-content-between">

        <div class="message--no--consent m-1 d-none">
            Единого мнения о сложности этой задачи нет. Вам нужно обсудить результаты голосования. После обсуждения - повторное голосование.
        </div>

        <div class="card--vote m-1">0</div>
        <div class="card--vote m-1">1</div>
        <div class="card--vote m-1">2</div>
        <div class="card--vote m-1">3</div>
        <div class="card--vote m-1">5</div>
        <div class="card--vote m-1">8</div>
        <div class="card--vote m-1">13</div>
        <div class="card--vote m-1">21</div>
        <div class="card--vote m-1">34</div>
        <div class="card--vote m-1">55</div>
        <div class="card--vote m-1">89</div>
        <div class="card--vote m-1">?</div>
        <div class="card--vote m-1">Кофе</div>
    </div>

    @await Html.PartialAsync("ModalLink", Model.Link)
    @await Html.PartialAsync("ModalChooseNameAndSpectator", 
        new ChooseNameAndSpectatorModel() 
            {
                Id="staticChooseNameAndSeparator",
                IdBtn="chooseNameAndSpectatorBtn",
                ChooseName = true,
                ChooseSpectator = true
            })
    @await Html.PartialAsync("ModalChooseNameAndSpectator", 
        new ChooseNameAndSpectatorModel() 
        {
            Id="staticChooseName",
            IdBtn="chooseNameBtn",
            ChooseName = true, 
            ChooseSpectator = false
        })

 </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script>

    let isVotingStopped = false;
    let isFullConsent = false;
    let isVoting = true;

    let value = 0;
    let average = 0;

    let groupId = '@Html.Raw(guidValue)';

    let usersInGroup = []

    let currentUsername = {name : "", id : "0", spectator : 1}


    let stopBtn = document.getElementById("stopBtn")
    let newVotingBtn = document.getElementById("newVotingBtn")
    let againVotingBtn = document.getElementById("againVotingBtn")
    let modalCloseBtn = document.getElementById("modalCLoseBtn")
    let chooseNameAndSpectatorBtn = document.getElementById('chooseNameAndSpectatorBtn')
    let chooseNameBtn = document.getElementById('chooseNameBtn')
    let historyBtn = document.getElementById("history")
    let logoutBtn = document.getElementById('logout')

    let usernameField = document.getElementById('nameField')
    let isSpectatorField = document.getElementById('isSpectatorField')
    let isSpectatorFieldMain = document.getElementById('isSpectatorFieldMain')
    let newUsernameField = document.getElementById('newUsernameField')
    let currentNameMainField = document.getElementById("CurrentName")

    let messageNotConsent = document.querySelector('.message--no--consent');

    let averageDiv = document.getElementById('average');
    let usernameDropdown = document.getElementById('usernameDropdownItem')

    let userCards = document.querySelectorAll(".card--container");
    let cardsVoting = document.querySelectorAll(".card--vote");
    let cardDivs = document.querySelectorAll('.card--vote');



    currentNameMainField.textContent = currentUsername.name


    cardDivs.forEach(function(cardDiv) {
        cardDiv.addEventListener('click', function() {
            if(cardDiv.classList.contains('card--vote--active')) {
                cardDiv.classList.remove('card--vote--active');

                hubConnection.invoke("DeleteVote", groupId, currentUsername.id.toString())
                .catch(function (err) {
                    return console.error(err.toString());
                });

                value = 0;
            }
            else{
                document.querySelector('.card--vote--active')?.classList?.remove('card--vote--active');
                cardDiv.classList.add('card--vote--active');

                
                hubConnection.invoke("SetVote", {"Value" : cardDiv.textContent, "GroupId" : groupId, "Username" : currentUsername.name})
                .catch(function (err) {
                    return console.error(err.toString());
                });

                value = cardDiv.textContent
            }
        });
    });


    isSpectatorFieldMain.addEventListener("change", function () {
        if(isSpectatorFieldMain.checked) {
            currentUsername.spectator = 0

            for(let j = 0; j < userCards.length; j++) {

                userCards[j].children[0].classList.remove("card--add--user");

                if(userCards[j].childElementCount === 2) {
                    userCards[j].children[0].classList.add("card--add--user--shower");
                }

                cardsVoting.forEach(function(card) {
                    card.classList.add("d-none");
                });

            }

        } else {
            currentUsername.spectator = 1

            for(let j = 0; j < userCards.length; j++) {
                if(userCards[j].childElementCount === 2) {
                    userCards[j].children[0].classList.remove("card--add--user--shower");
                    userCards[j].children[0].classList.add("card--add--user");
                }
            }

            cardsVoting.forEach(function(card) {
                card.classList.remove("d-none");
            });
        }

        hubConnection.invoke("ChooseNameAndSeparator", groupId, currentUsername.id.toString(), currentUsername.name, currentUsername.spectator.toString())
            .catch(function (err) {
                return console.error(err.toString());
            });
    })

    usernameDropdownItem.addEventListener("click", function () {
        $('#staticChooseName').modal("show")
    })

    logoutBtn.addEventListener("click", function () {
        hubConnection.invoke("Logout", groupId)
            .catch(function (err) {
                return console.error(err.toString());
            });

    });

    newVotingBtn.addEventListener("click", function () {
        hubConnection.invoke("StartNewVoting", groupId)
            .catch(function (err) {
                return console.error(err.toString());
            });
    });

    againVotingBtn.addEventListener("click", function () {
        hubConnection.invoke("StartNewVoting", groupId)
            .catch(function (err) {
                return console.error(err.toString());
            });
    });

    stopBtn.addEventListener("click", function () {
        hubConnection.invoke("FinishVoting", groupId)
            .catch(function (err) {
                return console.error(err.toString());
            });
    });

    chooseNameBtn.addEventListener("click", function () {
        let newUsername = newUsernameField.value

        hubConnection.invoke("ChooseNameAndSeparator", groupId, currentUsername.id.toString(), newUsername, currentUsername.spectator.toString())
            .catch(function (err) {
                return console.error(err.toString());
            });

        $('#chooseNameModal').modal('toggle');
    });

    chooseNameAndSpectatorBtn.addEventListener("click", function () {

        let newUsername = usernameField.value

        if (isSpectatorField.checked )
            currentUsername.spectator = 0
        else 
            currentUsername.spectator = 1

        hubConnection.invoke("ChooseNameAndSeparator", groupId, currentUsername.id.toString(), newUsername, currentUsername.spectator.toString())
            .catch(function (err) {
                return console.error(err.toString());
            });

        $('#staticChooseNameAndSeparator').modal('toggle');
    });

    var clipboard = new ClipboardJS('#copyBtn');

    clipboard.on('success', function(e) {
        e.clearSelection();

        var copyBtn = document.getElementById("copyBtn");
        copyBtn.classList.add("btn--blue--clicked")
        copyBtn.textContent = "Скопированно"
    });

    window.onbeforeunload = function() {
        hubConnection.invoke("CloseGroup", groupId)
        .catch(function (err) {
            return console.error(err.toString());
        });
    }
    window.addEventListener('load', function() {
        $('#staticChooseNameAndSeparator').modal('show');
    });



    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("http://localhost:5010/user")
        .build();

    hubConnection.on("FinishVoting", function(usersVote, average, consent) {
        isFullConsent = consent

        if(isFullConsent)
            newVotingBtn.classList.remove("d-none")
        else
        {
            messageNotConsent.classList.remove("d-none")
            againVotingBtn.classList.remove("d-none")
        }

        cardsVoting.forEach(function(card) {
            card.classList.add("d-none");
        });

        averageDiv.textContent = average;
        averageDiv.classList.remove("d-none")

        stopBtn.classList.add("d-none")

        
        userCards.forEach(function(userCard) {
            if(userCard.children[1].textContent != "") {
                userCard.children[0].classList.add("card--add--user--value");
                userCard.children[0].textContent = usersVote?.find(x => x.name == userCard.children[1].textContent)?.value;
            }
        });

    });

    hubConnection.on("StartNewVoting", function() {

        messageNotConsent.classList.add("d-none")

        if(isFullConsent) 
            newVotingBtn.classList.add("d-none")
        else
            againVotingBtn.classList.add("d-none")

        stopBtn.classList.remove("d-none")
        averageDiv.classList.add("d-none")


        cardsVoting.forEach(function(card) {
            card.classList.remove("d-none");
        });

        userCards.forEach(function(userCard) {
            if(userCard.children[1].textContent != "") {
                userCard.children[0].classList.remove("card--add--user--value");
                userCard.children[0].textContent = "";
            }
        });

    });

    hubConnection.on("Logout", function(userId) {
        
        let deleteUser = usersInGroup.find(user => user.id == userId); 

        usersInGroup = usersInGroup.filter(user => user.id != userId);

        for(let i = 0; i < userCards.length; i++) {

            if(userCards[i]?.children[1]?.textContent == deleteUser.name) {
                userCards[i].children[0].classList.remove("card--add--user");
                userCards[i].children[1].remove()
            }
        }
    });

    hubConnection.on("UserChangeName", function(userId, newUsername, newIsSpectator) {
        let userUpadated = usersInGroup.find(user => user.id == userId);
        let index = usersInGroup.indexOf(userUpadated);

        let oldName = usersInGroup[index].name
        usersInGroup[index].name = newUsername;

        if(userId == currentUsername.id) {
            currentNameMainField.textContent = newUsername
            currentUsername.name = newUsername;
            usernameDropdown.textContent = newUsername
            usernameDropdownItem.textContent = newUsername
        }

        for(let i = 0; i < userCards.length; i++) {
            if(userCards[i].children[1].textContent == oldName) {
                userCards[i].children[1].textContent = newUsername
                break;
            } 
        }
    });

    hubConnection.on("UserAdded", function(users, statusGroup) {

        if(currentUsername.name === "") {
            currentUsername = users[users.length - 1]
            document.getElementById("CurrentName").textContent = currentUsername.name ;

            usernameField.value = currentUsername.name

            usernameDropdownItem.textContent = currentUsername.name
        }   

        for(let i = 0; i < users.length; i++) {

            if(!usersInGroup.some(user => user.id === users[i].id)) {
                usersInGroup.push(users[i]);

                let messageElement = document.createElement("p");
                messageElement.textContent = users[i].name ;
                
                for(let j = 0; j < userCards.length; j++) {

                    if(userCards[j].childElementCount === 1) {
                        userCards[j].appendChild(messageElement);
                        userCards[j].children[0].classList.add("card--add--user");
                        break 
                    }
                }
            }
        }
    });

    hubConnection.start()
        .then(function () {
            hubConnection.invoke("CreateGroup", groupId)
            .catch(function (err) {
                return console.error(err.toString());
            });
        })
        .catch(function (err) {
            return console.error(err.toString());
        });
    
</script>
