
<div class="text-center flex-grow-1 d-flex flex-column justify-content-center align-items-center">
    <div>500</div>
    <div>Ошибка на стороне сервера</div>
    <div>Простите, у нас случилась ошибка!</div>
    <form action="@Url.Action("CreateGroup", "Group")" method="get">
        <button class="btn--blue ps-5 pe-5" >Назад</button>
    </form>
</div>

