

<div class="text-center flex-grow-1 d-flex flex-column justify-content-center align-items-center">
    <div>404</div>
    <div>Администратор вышел из группы</div>
    <div>Простите, но комната закрылась, так как администратор её покинул</div>
    <form action="@Url.Action("CreateGroup", "Group")" method="get">
        <button class="btn--blue ps-5 pe-5" >Назад</button>
    </form>
</div>

