html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
}

.form--input {
  width: 50%;
}

.addLink--container {
  border-radius: 5px;
  border: 1px solid black;
}

.btn--blue {
  background-color: #4FC1EB;
  padding: 7px;
  margin: 5px;
  border-radius: 5px;
}

.btn--blue--clicked {
  background-color: #0689b9;
}


.cirle {
  border-radius: 50%;
  border: 1px solid black;
  width: 70px; 
  height: 70px;
  background: #4FC1EB;
}

.card {
  width: 60px;
  height: 86px;
  border-radius: 8px;
  background-color: #F2F5F7;
  border: 1px solid #656969;
  padding: 32px 12px 32px 12px;
}

.cirle--margin {
  margin: 0px 150px;
}

.card--vote {
  position: relative;
  top: 0;
  transition: top 0.3s;
  width: 60px;
  height: 86px;
  border-radius: 8px;
  border: 1px solid #656969;
  border-style: dashed;
  padding: 32px 12px 32px 12px;
  color: black;
}

.card--vote--active {
  top : -10px;
  background-color: #4FC1EB;
  color: white;
}
.table {
  width: 657px; 
  height: 229px;
  background: #b3bdc0;
  border-radius: 200px;
  opacity: 0.3;
  margin: 20px 5px ;
  background-position: center;
  border: 5px solid #656969;
}

.table--button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.table--bottom {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.cifra-average {
  font-size: 40px;
  font-weight: 600;
  font-family: "Montserrat";
  color: #4FC1EB;
}