<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] Poker Planning</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body class="d-flex flex-column  min-vh-100">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="d-flex align-items-center">
                    <img class="me-1" src="@Url.Content("~/eagle.png")" alt="Орел">
                    <div style="font-size: 30px">Poker Planning</div>
                </div>
            </nav>
        </header>

        <div class="container d-flex flex-grow-1">
            <main role="main" class="flex-grow-1">
                @RenderBody()
            </main>
        </div>

        <footer class="mt-auto nowrapp border-top p-3 footer text-muted">
            <div class="container">
                &copy; 2023 - Poker Planning 
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
