

<div class="text-center flex-grow-1 d-flex flex-column justify-content-center align-items-center">
    <div>404</div>
    <div>Страница не найдена</div>
    <div>Простите, мы не смогли найти то, что вы искали</div>
    <form action="@Url.Action("CreateGroup", "Group")" method="get">
        <button class="btn--blue ps-5 pe-5" >Назад</button>
    </form>
</div>

